{
  "presets": ["@babel/preset-flow"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "scheduler": ["./src/react-scheduler"],
          "shared": ["./src/react-shared"]
        }
      }
    ]
  ]
}
